@media screen and (min-width: 1200px) {
  .admin-projects-list-form-container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .admin-projects-list-form-container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .admin-projects-list-form-container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .admin-projects-list-form-container {
    max-width: 540px;
  }
}
@media screen and (min-width: 641px){
  .admin-projects-list-form-container  {
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox;
    margin-right: auto;
    margin-left: auto;
  }
}

.admin-dashboard-projects-container {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 22.5px;
  padding-right: 15px;
  padding-left: 15px;
}



.admin-projects-list-container {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 50%;
}

.admin-title-container {
  margin: 15px 0 7.5px;
}

.admin-project-list {
  display: flex;
  flex-direction: column;
}

.admin-new-project-container {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 50%;
}

.admin-new-project-form-container {
  display: flex;
  display: -ms-flexbox;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
  padding: 15px;
  margin: 22.5px 0;
}
.admin-form-group {
  display: flex;
}

.form-control {
  margin: 10px;
  border: none;
  outline: none;
  padding: 15px 0px;
  width:100%;
  font-size: 12px;
  border-bottom: 2px solid #d9d9d9;
}

.button-form-control {
  border: none;
  outline: none;
  padding: 15px 0px;
  font-size: 12px;
  width:100%;
  margin:10px;
}

.icon-placeholder {
  vertical-align: middle;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.125);
  margin: 0 15px;
  display: grid;
  place-items: center;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #f15d22;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  outline: none;
  transition: all 0.3s;
  vertical-align: middle;
}
