.search-bar {
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.05);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox;
}

.search-bar-input-group-text {
  color: #ABACAC;
  border: none;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
}

#project-search {
  height: 50px;
  background-color: #FFF;
  border: none;
  flex-grow: 1;
  font-size: 1rem;
  margin: 0px !important;

  &:focus {
    outline: none;
  }

  &:placeholder {
    color: #ABACAC;
  }
}

.search-bar-input-group-text .fa-times {
  color: #F95E7A;
}
