.framework-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: 5px solid transparent;
}

.blue-circle {
  background-color: #EFF2F9;
  color: #5289E1;
  &:hover{
    border-radius: 50%;
    border: 5px solid #5289E1;
  }
}

.red-circle {
  background-color: #FEEAF0;
  color: #F95E7A;
  &:hover{
    border-radius: 50%;
    border: 5px solid #F95E7A;
  }
}

.lemon-circle {
  background-color: #FFF9CC;
  color: #FFE100;
  &:hover{
    border-radius: 50%;
    border: 5px solid #FFE100;
  }
}

.diamond-circle {
  background-color: #C7EEF9;
  color: #56D5FA;
  &:hover{
    border-radius: 50%;
    border: 5px solid #56D5FA;
  }
}

.green-circle {
  background-color: #eaf7ed;
  color: #39B24E;
  &:hover{
    border-radius: 50%;
    border: 5px solid #39B24E;
  }
}
