@media screen and (max-width: 64rem){
  .two-column-flexible-mdm-gap {
    grid-template-columns: repeat(auto-fit, calc(100% - 2rem));
  }
}
@media screen and (min-width: 64rem){
  .two-column-flexible-mdm-gap {
    grid-template-columns: repeat(auto-fit, calc(50% - 2rem));
  }
}

.one {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
}

.two {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.two-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  margin: 0rem 1.5rem;
}
.two-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
}

.two-fixed {
  position: fixed;
  display: grid;
      grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.two-mdm-gap {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(50% - 2rem));
  width: 100%;
  margin: 0rem 1.5rem;
}

.two-column-flexible-mdm-gap {
  display: grid;
  width: 100%;
  margin: 0rem 1.5rem;
}

.three {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(33.3% - 2rem));
  width: 100%;
}

.four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.five {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.sm {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.mdm {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.lrg {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
