.error {
  font-size: 1.6rem;
  margin: 10px 0;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}

.success {
  font-size: 1.6rem;
  margin: 10px 0;
  padding: 12px;
  color: #4f8a10;
  background-color: #dff2bf;
}
