.tagger-container {
  display: block;
}
.tagger-tags-container {
  color: white;
  display: inline-block;
}
.x-button {
  margin: 5px;
  font-size:11px;
  color: red;
}

.tagger-tag {
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  position: relative;
  z-index: 1;
  cursor: default;
  transition: .13s ease-out;
  background-color: #4c87fc;
}

.tagger-input {
  outline: none;
  border: none;
}
