.portfolio-container {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 22.5px;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 1200px) {
  .projects-skills-container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .projects-skills-container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .projects-skills-container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .projects-skills-container {
    max-width: 540px;
  }
}

@media screen and (max-width: 640px) {
  .projects-skills-container {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 641px){
  .projects-skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox;
    margin-right: auto;
    margin-left: auto;
  }
}
