.container {
  padding: 0.8rem 0;
  border-radius: 5rem;
}

.slideshowContainer {
  width: 100%;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, .2);
  position: relative;
}

.prevContainer {
  align-self: center;
  cursor: pointer;
  transition: color 0.5s ease-in 0s;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: calc(50% - 2rem);
}

.prevContainer:hover {
  color: #4C87FC;
}

.nextContainer {
  align-self: center;
  cursor: pointer;
  transition: color 0.5s ease-in 0s;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: calc(50% - 2rem);
  right: 0;
}

.nextContainer:hover {
  color: #4C87FC;
}

.screenshot {
  width: 100%;
  object-fit: cover;
}
