@media screen and (min-width: 640px) {
  .admin-sidebar {
    width: 75px;
  }
}
@media screen and (max-width: 640px) {
  .admin-sidebar {
    width: 0;
  }
}
@media screen and (max-width: 640px) {
  .admin-sidebar-mobile-toggle-container {
    transition: all 0.5s ease;
    overflow: hidden;
    width: 100%;
    height: 75px;
    background-color: #FFF;
  }
}

.admin-sidebar {
  transition: all 0.5s ease;
  height: 100%;
  background-color: #FFF;
}

.admin-sidebar > ul {
  text-align: center;
}
.admin-sidebar  li {
  padding:10px;
  font-size: 22.5px;
}
.admin-sidebar h5 {
  font-size: 14px;
  color: #000;
}
.admin-sidebar i{
  color: #000;
}
