.framework-container {
  text-align: center;
  line-height: 1.3em;
  padding: 5px 0;
  flex-basis: 33.3%;
  cursor: pointer;
}

.framework-container h6 {
  font-weight: 700;
  margin: 4px 0;
}

.framework-container ul li {
  padding: 5px;
}
